@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="col-6 offset-3 text-center">

    <h1>@ViewData["Title"]</h1>
    <br />
    <p>Use this page to detail your site's privacy policy.</p>
</div>
