@model BookType

@{
    ViewData["Title"] = "BookType #"+@Model.BookTypeId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 text-center border pr-2">
     <span class="text-center h5">Status</span> 
    <a asp-action="Index" type="button" class="btn btn-success col-12 mt-2">Back To Book Types List</a>
</div>
<div class="col-md-9">
    <div class="card">
        <div class="card-header justify-content-center">
            <h4 class="modal-title">@ViewData["Title"]</h4>
        </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="BookTypeId" class="control-label "></label>
                        <input asp-for="BookTypeId" class="form-control" readonly="readonly"/>
                        <span asp-validation-for="BookTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly="readonly"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly="readonly"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateOn" class="control-label"></label>
                        <input asp-for="CreateOn" class="form-control" readonly="readonly"/>
                        <span asp-validation-for="CreateOn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center pr-4">
                 <a asp-action="Edit" class="btn btn-sm btn-outline-success mr-1" asp-route-id="@Model.BookTypeId">
                Edit
            </a>
                <a asp-controller="BookType" asp-action="Index" 
                class="btn btn-outline-info mr-2">Back To List</a>
            </div>
    </div>
</div>
