@model BookType

@{
    ViewData["Title"] = "Edit BookType #"+@Model.BookTypeId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 text-center border pr-2">
     <span class="text-center h5">Status</span> 
    <a asp-action="Index" type="button" class="btn btn-success col-12 mt-2">Back To Book Types List</a>
</div>
<div class="col-md-9">
    <div class="card">
        <div class="card-header justify-content-center">
            <h4 class="modal-title">@ViewData["Title"]</h4>
        </div>
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="BookTypeId"/>
            <input type="hidden" asp-for="CreateOn"/>
            <div class="card-body p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control " />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
            </div>
            <div class="card-footer text-right pr-4">
                <a asp-controller="BookType" asp-action="Index"
                   class="btn btn-outline-info mr-2">Back To List</a>
                <button type="submit" class="btn btn-outline-success">Save</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
